body {
  margin: 0;
  padding: 0;
  align-content: center;
  background: #02aab0;
  background: -webkit-linear-gradient(to right, #355c7d, #6c5b7b, #c06c84);
  background: linear-gradient(to right, #355c7d, #6c5b7b, #c06c84);
}
